<footer class="my-footer d-flex justify-content-center align-items-center flex-column mt-20-row">
    <div class="">
        <strong>Scraper</strong> by
        <a class="text-white" href="http://www.codezaru.com">
            <span>codezaru</span>
        </a>
    </div>
    <div class="">
        <a href="https://github.com/CodeZaru" target="_blank" class="ion-social-github-outline footer-ic"></a>
    </div>
</footer>
